body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0;
  color: #000;
  overflow: hidden;
}

a,
a.standard-link {
  color: #e6005c;
}

.link {
  cursor: pointer;
  font-weight: 700;
  font-size: 15vw;
  user-select: none;
  line-height: 1;
}

.unicorn-active .link {
  visibility: hidden;
}

.unicorn {
  position: fixed;
}

.unicorn-preload {
  position: fixed;
  width: 1px;
  height: 1px;
  overflow: hidden;
  opacity: 0;
  pointer-events: none;
  top: -9999px;
  left: -9999px;
}

.unicorn-text {
  font-size: 15vw;
  text-shadow: #fff 5px 5px;
  font-weight: 900;
  position: absolute;
  user-select: none;
}

.not-found {
  padding: 1rem;
}
